.body{

  margin-top: 10px;
  background-color: #f4f4f4;
  margin-bottom: 100px;
}
.profile-main{
  width: 1000px;
  height: 100px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #aed5e2;
  padding-bottom: 10px;
   box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
   -webkit-transition : border 2s;
  transition: border 1s;
  font-family: Open Sans;
  padding-left: 10px;
  padding-right: 100px;

}

.profile-main:hover{
  border: 2px solid #f4c613;
}

.profile-main:active{
  border: 2px solid #f4c613;

}
.user-image{
  float: right;
  width: 60%;
  height: 180px;

}
.user-image img{
  width: 100%;
  height: 100%;
 
}

.detail-box{
  margin-top: 10px;
  float: right;
  width: 100%;
  border:0px solid #ededed;
  padding: 13px;
}


.detail-box p{
  font-weight: 600;
  margin: 0px;
}
.detail-box .ul-first{
  padding: 0px;
  list-style: none;
  float: left;
}
.detail-box .ul-second{
  float: left;
  list-style: none;
  color: #767676;
}