.body{

background-color: #f4f4f4;

}

.head{
   height: 50px;
   width: 100%;
   background-color: #f4f4f4;
   color: #f4c613;
   margin-top: 20px;
}

.container{
padding: 50px;
background-color: white;
 border: 5px solid #fff;
}


.container:hover{
  border: 5px solid #f4c613;
  -webkit-transition : all .5s;
  transition: all .5s;
}

.container:active{
  border: 5px solid #f4c613;
}


 .button {
border-radius: 28px;
font-size: 13px;
text-transform: uppercase;
margin:0 6px;
padding: 12px 46px 12px 46px;
-webkit-trasition: all .5s;
transition: all .5s;
}

.button-q {
  background-color: #f4f4f4;
  color: #000000;
  border: 1px solid #fff;
}

.button:hover,
.button:focus {
  background-color: #f4c613;
color: #ffffff;
border :1px solid #f4c613;
}


.footer{
	height: 50px;
	width: 100%;
	font-size: 40px;
	font-family: 'Open Sans';
	background-color: #f4f4f4;
	text-align: center;
	padding:  120px;
	color: #f4c613;}

.post_form {
    background: red;
}