div .card{
    margin:40px;
    background-color: #f4f4f4;
}

div .card-link{
    color: black;
}
div #qs-card {
    border: 0px;
}
div .sort_by{
    padding:0px;
    margin:20px 40px -40px 40px;
    border:0px;
}
/* post colors on hover */
.card-content:hover{
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* heading default */
a .card-link{
    text-decoration: none;
}
/* heading hover color */
.card-link:hover{
    color:#f4c613;
}