<div style="float: left;">
                 <button data-toggle="collapse" data-target="#ans-card" class="btn btn-outline-info justify-content-center" >Answer</button>
                </div> <br><br><br>
                <div class="card collapse card-answer" id="ans-card">
                    <form method="post" class="comment-form" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form.as_p }}
                        </div>
                        {% if request.user.is_authenticated %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" disabled>Submit</button>
                        {% endif %}
                    </form>
                </div>

               <hr>
                    <h4 class="text ml-5">{{ comments.count }} Answer{{ comments|pluralize }}</h4>
                <hr>
                {% for comment,upvote,is_comment_upvoted,downvote,is_comment_downvoted,is_teacher in up %}

                    <div class="card">

                        {% if is_teacher %}
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote" style="font-size: large">
                                        <p class="mb-0 float-left"> {{ comment.content }} </p>
                                        <div class="float-right">
                                            By
                                            <i class="fas fa-chalkboard-teacher"></i>
                                            <span style="font-size: large"class="badge badge-pill badge-success">{{ comment.user | capfirst }}</span>
                                        </div><br>
                                    </blockquote>
                                </div>
                            </div>
                        {% else %}
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote" style="font-size: large">
                                        <p class="mb-0"> {{ comment.content }} </p>
                                        <div class="float-right">
                                            By
                                            <span class="badge badge-pill badge-info">{{ comment.user | capfirst }}</span>
                                        </div><br>

                                    </blockquote>
                                </div>
                            </div>

                        {% endif %}
                        <div id="comment_upvote">

                                     {% include 'Discussion_Forum/answerup-downvote.html' %}
                        </div>
                        <hr>
                    </div>

                {% endfor %}
