{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="{% static 'forum.css' %}" rel="stylesheet">
    <title>{%  block title %}Discussion Forum {%  endblock %}</title>
    <style>
        div .card{
            margin:40px;
        }
        div #qs-card{
            border:0px;
        }
        div .sort_by{
            padding:0px;
            margin:20px 40px -40px 40px;
            border:0px;
        }
    </style>
  </head>
  <body>

    <header>
        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </nav>
    </header>

    <!-- navigation ends here -->


    <div class="container-fluid">
        <div class="row">


            <div class="col-md-3 order-1 mb-5 mb-md-0 bg-light text-dark p-md-4">
              <!-- refine by starts here-->


              <div class="border p-4 rounded mb-4">
                    <div class="mb-4">
                      <h3 class="mb-3 h6 text-uppercase text-black d-block">Refine by:</h3>
                      <label for="s_sm" class="d-flex">
                        <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Math(5)</span>
                      </label>
                      <label for="s_md" class="d-flex">
                        <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Chemistry(6)</span>
                      </label>
                      <label for="s_lg" class="d-flex">
                        <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">English(4)</span>
                      </label>
                      <label for="s_lg" class="d-flex">
                        <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">History(3)</span>
                      </label>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                  </div>
                <!-- refine by ends here-->
            </div>



            <div class="col-md-9 order-2">
            <!-- buttons for post your question & search starts here-->
            <div class="row mt-md-3 mx-md-3">
				<div class="mx-md-5">
					<button data-toggle="collapse" data-target="#qs-card" class="btn btn-primary justify-content-center" >Post your question</button>
				</div>
				<div class="mx-md-5">
					<button data-toggle="collapse" data-target="#search-card" class="btn btn-primary justify-content-center" >search</button>
				</div>
			</div>
            <!-- buttons for post your question & search ends here-->

            <!-- search block -->
			<div class="input-group mb-3 collapse m-md-5" id="search-card">
			  <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
			  <div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2">Go</button>
			  </div>
			</div>
			<!-- post your question -->
            <div class="card collapse" id="qs-card">
                <form action="">
                    <div class="form-group">
                      <label for="question">Post your Question:</label>
                      <textarea class="form-control" rows="5" id="question" name="text" placeholder="What is your question?"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


      			<!-- sort by starts here -->
            <div class="row m-5">
              <div class="col-md-12">
                <div class="float-md-left  pt-2"><h2 class="text-black h5">Your feed </h2></div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secodary dropdown-toggle" data-toggle="dropdown">
                        Sort By
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">Date</a>
                        <a class="dropdown-item" href="#">Relevance</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- sort by ends here -->

            <!-- cards for post starts here -->
                <div>{% block content %}{% endblock %}</div>
            <!-- cards for post ends here -->

            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
