{% extends "Discussion_Forum/post_list.html"  %}
{% block content %}
     {% for post in posts %}

         <div class="card">
            <div class="card-body" >
                <h3 class="card-title text-capitalize ">
                    <a href="{{ post.get_absolute_url }}" class="text-dark">
                        {{ post.title }}
                    </a>

                </h3>
                {{ post.body }}
                <div class="card-text text-secondary">
                    By {{ post.author }} updated on {{ post.updated }}
                    <span class="text-right text-danger float-right">Answer </span>
                </div>
            </div>
         </div>

     {% endfor %}
{% endblock content %}


