{% extends 'Discussion_Forum/base.html' %}


{% block content %}

    <div class="container">
        <div style="width:50%;margin:auto;">

            <form method="POST">
                {% csrf_token %}
                Title :
                <div class="form-group">
                   {{ form.title|add_class:"post_form" }}
                </div>
                Content :
                <div class="form-group">
                   {{ form.body }}
                </div>
                Tag :
                <div class="form-group">
                   {{ form.tag }}
                </div>
                Status :
                <div class="form-group">
                   {{ form.status }}
                </div>
                <input type="submit" class="btn" value="Post">
            </form>
        </div>

    </div>


{% endblock %}