{% extends "Discussion_Forum/post_list.html"  %}
{% block content %}

    <div class="infinite-container">
        {% for post in posts %}


             <div class="card card-content infinite-item animated bounceInUp delay-4 ">
                <div class="card-body" >
                    <h3 class="card-title text-capitalize ">
                        <a href="{{ post.get_absolute_url }}" class="card-link">
                            {{ post.title }}
                        </a>

                    </h3>
                    {{ post.body }}
                    <div class="card-text text-secondary">
                        By {{ post.author }} updated on {{ post.updated }}
                        <span class="text-right text-danger float-right">Answer </span>
                    </div>
                </div>
             </div>

        {% endfor %}
    </div>


  {% if numbers.has_next %}
    <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>


{% endblock content %}

