{% extends "Discussion_Forum/post_list.html"  %}
{% block content %}

    <div class="infinite-container">
        {% for post,tags in post %}


             <div class="card card-content infinite-item animated bounceInUp delay-4 ">
                <div class="card-body" >
                    <h3 class=" text-capitalize card-title float-left">
                        <a href="{{ post.get_absolute_url }}" class="card-link">
                            {{ post.title }}
                        </a>
                    </h3>
                    <div class="float-right">
                        {% for tag in tags %}
                            <span style="font-size: large"class="badge badge-pill badge-dark">{{ tag }}</span>
                        {% endfor %}
                    </div><br><br>

                    <div style="font-size: large" >
                        {{ post.body }}
                    </div>


                    <div class="card-text text-secondary float-right">
                        By {{ post.author }} <br> updated on {{ post.updated }}
                    </div>
                     <br><i class="fas fa-thumbs-up "></i>  {{ post.total_upvotes }} Upvote{{ post.total_upvotes|pluralize }}
                </div>
             </div>

            {% empty %}
            <div class="container-fluid">
                <br><br>
                <h3>No Posts Found having search query "{{ request.GET.q }}"</h3>
            </div>

        {% endfor %}
    </div>

    <ul class="pagination">
        {% for p in posts.paginator.page_range %}
            {% if posts.number == p %}
                <li class="page-item active">
                    <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}

    </ul>


{% endblock content %}

