{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Test</title>
    <link rel="stylesheet" href="{% static 'Test_Designing/css/datedropper.css' %}">
    <link rel="stylesheet" href="{% static 'Test_Designing/css/custom-datedropper.css' %}">
    <link rel="stylesheet" href="{% static 'Test_Designing/css/jquery.timepicker.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
    <script src="{% static 'Test_Designing/datedropper.js' %}"></script>
    <script src="{% static 'Test_Designing/js/timepicker/jquery.timepicker.js' %}"></script>
</head>

<body>

    {% if test_form.errors or question_formset.errors %}
        <p>NOT VALID</p>
            {% for error in test_form.errors %}
                {{ error }}
            {% endfor %}
    {% endif %}
    <br>
    <br>
    <form method="POST" action="{% url 'exam:design' %}">
        <!-- Create A drop down containing all categories (hardcode it) -->
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name:</label>
                {{ test_form.name }}
            </p>
            <p>
                <label for="id_description">Description:</label>
                {{ test_form.description }}
            </p>
            <p>
                <label for="id_date">Date:</label>
                {{ test_form.date|add_class:"datedropper-class" }}
            </p>
            <p><label for="id_time">Time:</label>
                {{ test_form.time|add_class:"decide_time" }}
            </p>
            <p><label for="id_duration">Duration (In Minutes):</label>
                {{ test_form.duration }}
            </p>
        </div>

        <div>
            {{ question_formset.management_form }}
            {% for question in question_formset%}
             <div class="link-formset">
             <h3>Question No <span class="question_no">1</span></h3>

             {% for error in question.errors %}
                {{ error }}
             {% endfor %}
              {{ question.as_p }}
            </div>
            {% endfor %}
        </div>
        <input class="submitBtn" type="submit" value="CreateTest">
    </form>
</body>


<script type="text/javascript">
    $('.link-formset').formset({
        addText: 'Add Question',
        deleteText: ' Remove Question',
    });

    document.querySelector('.add-row').addEventListener('click', function() {

        console.log('Hi There');
        let question_counter = 1;
        questions = document.querySelectorAll('.question_no');
        for (question of questions) {
            console.log(question);
            question.innerText = question_counter;
            question_counter += 1;
        }
    });
    // Setting up the date
    $('.datedropper-class').dateDropper();


    // Setting up the time
    $('.decide_time').timepicker();


</script>


</html>