<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>question paper details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body class="body">
	<div class="container-fluid">
   <div class="main">

  <div class="row" >
    <div class="col-sm-12">
      <div class="footer">  
        <button class="button button-q" style="font-family: 'Raleway'">Confirm the Question</button>
        <button class="button button-q" id="myBtn" style="font-family: 'Raleway'">Discard</button>
        <a href="ques.html" target="_blank"><button class="button button-q" style="color: black;font-family: 'Raleway'" >Next question</button></a>
      </div>



        
      </div>
    </div>
  </div>
</div>



</body>
</html>