{% extends 'Test_Designing/base.html'%}

{% block exam %}
    <form action="{% url 'exam:exam-result' %}" method="post">
    {% csrf_token %}
    <h1>Test name</h1>

    {% for post in posts %}
        <h4>{{post.text}}</h4>

        <ul style="list-style: none">
            <li>
                <input type="radio" name="qs-{{post.id}}" value="1">
                <label>{{post.option1}}</label>
            </li>
            <li>
                <input type="radio" name="qs-{{post.id}}" value="2">
                <label>{{post.option2}}</label>
            </li>
            <li>
                <input type="radio" name="qs-{{post.id}}" value="3">
                <label>{{post.option3}}</label>
            </li>
            <li>
                <input type="radio" name="qs-{{post.id}}" value="4">
                <label>{{post.option4}}</label>
            </li>
        </ul>

    {% endfor %}
    <input type="submit" value="submit">
    </form>

{% endblock %}
